@font-face {
  font-family: filson-pro;
  src: url("../../Fonts/FilsonProBold.otf");
  font-style: sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 1370px) {
  .welcomeContainerSent {
    background-color: white;
    justify-content: space-around;
    text-align: left;
    padding: 2.75%;
    height: 70%;
    width: 70%;
    min-height: fit-content;
    /* min-width: fit-content; */
    max-width: 800px;
    max-height: 100%;
    box-shadow: 0px 5px 15px #332e30;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin: 10% auto;
    /* margin-top: 15%; */
  }

  img {
    /* width: 100%; */
    max-height: 100%;
    width: 80px;
    /* min-width: 100px; */
    /* height: 100%; */
    /* max-height: 15%; */
    /* width: 15%; */
    /* margin: auto; */
  }

  .semicircle {
    transform: rotate(135deg);
    margin-right: -5%;
    margin-bottom: -10%;
  }

  .jordan {
    margin-left: 0;
    /* margin-top: -5%; */
  }

  .imgContainerSent {
    padding: 0 5%;
    padding-bottom: 0;
    /* margin-bottom: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 20%;
    margin: 0;
    margin-bottom: 0px;
    text-align: left;
  }

  .nextSent {
    background-image: linear-gradient(
      to right,
      #005cff 0%,
      #00aec9 50%,
      #005cff 100%
    );
  }

  .textContainerSent {
    padding: 0;
    margin-bottom: 0;
    max-height: 50%;
    min-height: fit-content;

    /* padding-top: 0; */
    /* overflow: auto; */
    margin-top: 0;
  }

  .textContainerSent h2 {
    color: #00a3ff;
    font-size: 4em;
    padding: 0;
    margin: 0 auto;
    max-height: 30%;

    text-align: justify;
    text-justify: unset;

    /* font-style: bold; */
    /* font-weight: 100; */
  }

  .textContainerSent h5 {
    color: #4a4a4a;
    font-size: 1.25em;
    padding: 0;
    margin: 5% auto;
    text-align: center;
    font-style: normal;
    font-weight: 100;
  }

  .nextSent {
    padding: 4% 6%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
    margin: 0;
  }

  .nextSent:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .nextSent button {
    /* border-top-left-radius: 50%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 50%; */
    border-radius: 40px;
    width: 100%;
    min-width: 200px;
    height: 15%;
    /* float: right; */
    border-color: transparent;
  }
  a {
    width: 100%;
  }

  .buttonContainerSent {
    display: flex;
    flex-direction: row;
    padding: 0;
    /* padding-left: 55%; */
    margin: 0;
    justify-content: space-between;
    max-width: 100%;
  }

  .titleContentSent {
    padding: 0 5%;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5%;
    max-height: 40%;

    /* font-size: 10px; */
    color: #8d8d8d;
    /* text-align: justify; */
    /* text-justify: distribute; */
  }

  .textContentSent {
    padding: 1.5% 5%;
    max-height: 40%;
    min-height: fit-content;

    /* font-size: 0.8em; */
    /* font-size: 10px; */
    color: #4a4a4a;
  }

  .return {
    color: white;
    background-color: #00aec9;
    width: 40%;
    /* margin-left: 5%; */
  }
}

@media only screen and (min-width: 1370px) {
  .welcomeContainerSent {
    background-color: white;
    justify-content: space-around;
    text-align: left;
    padding: 2.75%;
    height: 70%;
    width: 50%;
    min-height: fit-content;
    /* min-width: fit-content; */
    width: 800px;
    max-height: 100%;
    box-shadow: 0px 5px 15px #332e30;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin: 0 auto;
    margin-top: 10%;
    /* margin-top: 15%; */
  }

  img {
    /* max-height: 100%;
    max-width: 9%; */
    /* max-height: 15%; */
    width: 15%;
    /* margin: auto; */
  }

  .semicircle {
    transform: rotate(135deg);
    margin-right: -8%;
    margin-bottom: -15%;
  }

  .jordan {
    margin-left: 0;
    margin-top: -5%;
  }

  .imgContainerSent {
    padding: 0 7.5%;
    padding-bottom: 0;
    /* margin-bottom: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 20%;
    margin: 0 auto;
    /* text-align: left; */
  }

  .nextSent {
    /* background-image: linear-gradient(
      to right,
      #005cff 0%,
      #00aec9 50%,
      #005cff 100%
    ); */

    background-color: #005cff;
  }

  .textContainerSent {
    padding: 0 1%;
    margin: 0 auto;
    max-height: 50%;
    /* min-height: fit-content; */

    /* padding-top: 0; */
    /* overflow: auto; */
    margin-top: 0;
  }

  .textContainerSent h2 {
    color: #00a3ff;
    font-size: 5em;
    padding: 0;
    margin: 0 auto;
    max-height: 50%;

    text-align: center;

    /* font-style: bold; */
    /* font-weight: 100; */
  }

  .textContainerSent h5 {
    color: #8d8d8d;
    font-size: 1.5em;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: lighter;
  }

  .nextSent {
    padding: 0 6%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
    width: 100%;
    /* margin: 0; */
  }

  .nextSent:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  button {
    /* border-top-left-radius: 50%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 50%; */
    border-radius: 40px;
    min-width: 200px;
    height: 100%;
    width: 100%;
    border-color: transparent;
  }

  .buttonContainerSent {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    /* padding-left: 50%; */
    justify-content: space-between;
    width: 100%;
    /* max-width: 80%; */
  }
  a {
    width: 60%;
    height: 60px;
    /* text-align: right; */
    /* margin-right: 5%; */
    /* padding-left: 15%; */
  }

  .titleContentSent {
    padding: 0 5%;
    padding-top: 0;
    /* margin-top: 0; */
    margin-bottom: 8%;
    max-height: 40%;

    /* font-size: 10px; */
    color: #8d8d8d;
    /* text-align: justify; */
    /* text-justify: distribute; */
  }

  .textContentSent {
    padding: 1.5% 5%;
    /* max-height: 40%; */
    min-height: fit-content;

    /* font-size: 0.8em; */
    /* font-size: 10px; */
    color: #8d8d8d;
  }

  .return {
    color: white;
    background-color: #00aec9;

    width: 100%;
  }

  .buttonContainerSent div {
    height: 80px;
    width: 40%;
  }
}
